[submodule "tests"]
	path = tests/testdata
	url = https://github.com/ethereum/tests
[submodule "genesis"]
	path = genesis
	url = https://github.com/node-real/semita-netmarble-genesis-config
	branch = netmarble_v1.0
